<main class="main main-characters container">
    <section class="section section-main">
        <div class="row d-flex text-center">
            {{#each data}}
            <div class="col-md-3">
                <a href="/games/{{id}}">
                <img src="https://via.placeholder.com/150x200" alt="placeholder image" class="img-fluid">
                <h4>{{name}}</h4>
                </a>
            </div>
            {{/each}}
        </div>
    </section>
</main>